<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<% function toReadableDate(diffMs){%>
  <% var diffDays = Math.floor(diffMs / 86400000); %>
  <% var diffHrs = Math.floor((diffMs % 86400000) / 3600000); %>
  <% var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000) %>

  <% if (diffDays != 0) {%>
    <%= diffDays%> days ago
    <% } else if(diffHrs != 0) {%>
      <%= diffHrs%> hours ago
    <% } else {%>
      <%= diffMins%> mins ago
    <% } %>

<%}%>  

<div class="container pt-3">
<div class="container row">
  <% if(blogs.length > 0) { %>
    <% blogs.forEach(blog => {%>
      <div class="card col-md-6 m-3 px-0" style="width: 18rem;">
        <!-- <img src="/images/default.jpg" class="card-img-top img-fluid w-100" alt="..."> -->
        <img src="/<%= blog.image%>" class="card-img-top img-fluid w-100" alt="...">

        <div class="card-body">
          <h5 class="card-title"><%=blog.title%></h5>
          <p class="card-text"><%=blog.snippet%></p>
          <p class="card-text">created by: <%= blog.userEmail%></p>
          <p class="card-text">
            <small class="text-muted">
              <% toReadableDate(new Date() - blog.createdAt ) %>
            </small>
          </p>
          <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read full blog</a>
        </div>
      </div>
      
    <% }) %>
  <% } else { %>
    <h1>There Are No Blog Posts....</h1>

  <% } %>
</div>
</div>

<%- include('./partials/footer.ejs') %>
