<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

  <div class="container">
    <% if (blogInfo !== 'undefined') { %>
        <img src="<%= blogInfo.image%>" alt="" class="w-50">
        <h1><%=blogInfo.title%></h1>
        <p><%=blogInfo.body%></p>
    <%} else { %>
        <div class="alert alert-danger" role="alert">
            Error Loading the page!!
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="/blogs/create">create your own blog</a>
        </div>
    <%}%>
  </div>
  <hr>
  <% if(user._id == blogInfo.userId){ %>
      <div class="container">
          <div class="alert alert-danger d-inline-block p-2" role="alert">
                <a class="delete" style="cursor: pointer;" data-docid="<%= blogInfo._id %>">
                    <img src="/images/del-icon.png" alt="delete icon" style="width: 25px;">
                </a>
            </div>
        </div>
    <%}%>

<script>
    const delDoc = document.querySelector('a.delete');

    delDoc.addEventListener('click',(e)=>{
        const endPoint = `/blogs/${delDoc.dataset.docid}`

        fetch(endPoint,{method:"DELETE"})
        .then((response)=> response.json() )
        .then((data)=> window.location.href = data.redirect)
        .catch((err)=>{console.log(err)});
    })
</script>

<%- include('./partials/footer.ejs') %>
